body {
  margin: 0;
  font-family: Brokman;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Default Light Mode */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

/* Style for Navbar and Buttons in Dark Mode */
.dark-mode .navbar, .dark-mode .card {
  background-color: #1e1e1e !important;
  color: #ffffff;
}

.dark-mode button {
  background-color: #007bff;
  color: #ffffff;
}
