
body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(252, 255, 255);
}

.home-container {
    margin-left: 60px;
    padding: 20px;
    transition: all 1s ease-in-out 1s;
    height: 100vh;
  }
  
.homesidebar {
  width: 150px;
  height: 750px;
  background-color: rgb(21, 21, 21);
  display: flex;
  position: fixed;
  top: 0;
  left: 120px;
  transition: all 1s ease-in-out;
}

.HomeTopbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 270px;
  width: 1245px;
  height: 100px;
  background-color: rgb(152, 156, 159);
}

.HomeTopbar button {
  width: 200px;
  height: 30px;
  margin: 10px;
  margin-left: 20px;
}