.Candidate-container {
    padding: 20px;
    font-family: Brokman;
}

.add-Candidate-btn {
    margin-bottom: 20px;
}

.Candidate-table-structure {
    display: grid;
    grid-template-columns: repeat(28, minmax(100px, auto));
    gap: 0px;
    width: 100%;
    border: 1px solid #ddd;
    width: max-content;
}

.Candidate-table-headers,
.Candidate-row {
    display: contents;
}

.Candidate-table-headers span,
.Candidate-row span {
    border: 1px solid #ddd;
    border-left: none;
    border-right: 1px solid #ddd;
}

.Candidate-table-headers span {
    text-transform: uppercase;
    background-color: #ffffff;
    padding: 8px;
    color: #292929;
    font-size: 15px;
    font-weight: bolder;
}

.Candidate-row span {
    padding: 5px 10px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    overflow-x: hidden;
    color: #575757;
}

.Candidate-row span input {
    border: none;
    background-color: transparent;
    color: #575757;
}

.Candidate-row input[type="checkbox"] {
    align-items: center;
    justify-content: center;
    margin: 2px 16px;
}

.Candidate-name {
    color: rgb(24, 172, 231) !important;
}


#active {
    color: green;
    font-weight: bold;
}

#not_active {
    color: red;
    font-weight: bold;
}



.selected-row span {
    background-color: rgb(255, 255, 229) !important;
}

.modal-content {
    box-shadow: 0px 0px 3px rgb(65, 64, 64);
}